[submodule "third_party/jackson"]
	path = third_party/jackson
	url = https://github.com/guangqianpeng/jackson.git
[submodule "third_party/tinyev"]
	path = third_party/tinyev
	url = https://github.com/guangqianpeng/tinyev.git
